################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/tftwebofficiel/vendor/symfony/symfony/src/Symfony/Component/Intl/Exception
